@model _5051.Models.AdminProfileModel
@{
    ViewBag.Title = "Create";
}


<ol class="breadcrumb">
    <li><a href="~/Admin/MainHome">Home</a></li>
    <li><a href="~/Admin/StudentHome">Students</a></li>
    <li class="active">Add</li>
</ol>

<style>
    .sidebar-nav-fixed {
        width: 14%;
    }
</style>

<

<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <span class="label label-default">
                            @Html.DisplayNameFor(m => m.Name)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(m => m.Name)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <span class="label label-default">
                            @Html.DisplayNameFor(m => m.Uri)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(m => m.Uri)
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-3 text-right">
                        <span class="label label-default">
                            @Html.DisplayNameFor(m => m.PowerId)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(m => m.PowerId)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        <span class="label label-default">
                            @Html.DisplayNameFor(m => m.PersonalContact)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(m => m.PersonalContact)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <span class="label label-default">
                            @Html.DisplayNameFor(m => m.GuardianContact)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(m => m.GuardianContact)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        <span class="label label-default">
                            @Html.DisplayNameFor(m => m.Address)
                        </span>
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(m => m.Address)
                    </div>
                </div>

                @*<br />
                    <br />
                    <div class="row">
                        <div class="col-sm-3 text-right">
                        </div>
                        <div class="col-sm-4">
                            @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn-success" })
                            <input type="submit" value="Create" class="btn btn-primary">
                        </div>
                    </div>*@

                <br />
                <br />
                @*<div class="col-md-8">*@
                @*<img src="~/Content/img/prof.png" style="margin-bottom: 30px;" />*@
                <div class="row">
                    <div class="col-sm-3 text-right">
                    </div>
                    <div class="col-md-4">
                        @Html.ActionLink("Cancel", "Read", new { id = Model.Id }, new { @class = "btn btn-success" })
                        <input type="submit" value="Save" class="btn btn-primary">
                        @*Html.ActionLink("Save", "StudentHome", "Admin", null, new { @class = "btn btn-primary" })*@
                        @*</div>
                            <div class="col-md-4">*@

                    </div>
                </div>
                @*</div>*@

                
            </div>
        </div>
        </div>
}





