@model _5051.Models.AdminProfileModel
@{
    ViewBag.Title = "Delete";
}
<h1 style="font-size:large">
    BePresent
    </>
</h1>


<style>
    .sidebar-nav-fixed {
        width: 14%;
    }
</style>

<div class="container">
    <div class="row">
      
  
        <div class="container">
            <div class="row">

                @{
        if (Model == null)
            {
            <p>No Avatar</p>
              }

             else
            {
            <div class="row">
                <h2>Delete Avatar</h2>
                <br />
                <br />

                <div class="row">
                    <div class="col-sm-3 text-right">
                    </div>
                    <div class="col-sm-2">
                        <img src="~/Content/img/@Model.Uri" width="75" height="75" />
                        <br />
                        <span>
                            @Model.Name
                            <br />
                            <br />
                            <br />
                        </span>
                    </div>
                </div>

                @using (Html.BeginForm())
    {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Uri)
            @Html.HiddenFor(m => m.Name)
            @Html.HiddenFor(m => m.PowerId)
            @Html.HiddenFor(m => m.PersonalContact)
            @Html.HiddenFor(m => m.GuardianContact)
            @Html.HiddenFor(m => m.Address)

            <div class="row">
                <div class="col-sm-3 text-right">
                </div>
                <div class="col-sm-4">
                    @Html.ActionLink("Cancel", "Home", new { id = Model.Id }, new { @class = "btn btn-success" })
                    <input type="submit" value="Delete" class="btn btn-danger">
                </div>
            </div>
}

            </div>
}

                }
            </div>
        </div>


        @*<div class="col-md-8">
                        <img src="~/Content/img/prof.png" style="margin-bottom: 30px;" />

                        <div class="row">
                            <div class="col-md-4">
                                @Html.ActionLink("Delete", "Home", "Admin", null, new { @class = "btn btn-primary" })
                            </div>
                            <div class="col-md-4">
                                @Html.ActionLink("Cancel", "Profile", "Admin", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                </div>
                </div>
            </div>*@

    </div>
</div>


