@model _5051.Models.AdminProfileModel
@{
    ViewBag.Title = "Read";
}

<h1 style="font-size:large">
    BePresent
    </>
</h1>


<style>
    .sidebar-nav-fixed {
        width: 14%;
    }
</style>


        @{
            if (Model == null)
            {
                <p>No Student</p>
            }

            else
            {
                <div class="row">

                    <br />
                    <br />

                    <div class="row">
                        <div class="col-sm-4 ">
                        </div>
                        <div class="col-sm-3">
                            <img src="~/Content/img/@Model.Uri" width="150" height="150" />
                            
                            <br />
                            @*<span>
                                
                                <strong> @Model.Name </strong>*@
                                <br />
                                <br />
                                <br />
                            @*</span>*@
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5 text-right">
                            <strong>
                                @Html.DisplayNameFor(m => m.Name)
                                </strong>
</div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(m => m.Name)
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-5 text-right">
                            <strong>
                                @Html.DisplayNameFor(m => m.PowerId)
                            </strong>
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(m => m.PowerId)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5 text-right">
                            <strong>
                                @Html.DisplayNameFor(m => m.PersonalContact)
                            </strong>
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(m => m.PersonalContact)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 text-right">
                            <strong>
                                
                                @Html.DisplayNameFor(m => m.GuardianContact)
                            </strong>
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(m => m.GuardianContact)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5 text-right">
                            <strong>
                                @Html.DisplayNameFor(m => m.Address)
                            </strong>
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(m => m.Address)
                        </div>
                    </div>


                    <br />
                    <br />

                    <div class="col-md-8">
                        @*<img src="~/Content/img/prof.png" style="margin-bottom: 30px;" />*@
                        <div class="row">
                            <div class="col-md-4 text-right">
                                @Html.ActionLink("Edit", "Update", new { id = Model.Id }, new { @class = "btn btn-primary" })
                            </div>
                            <div class="col-md-4 text-right">
                                @Html.ActionLink("Print", "Print", "Admin", null, new { @class = "btn btn-primary" })
                            </div>
                            <div class="col-md-4 text-right">
                                @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            }

        }

    </div>
</div>
