@model _5051.Models.AdminProfileModel
@{
    ViewBag.Title = "Update";
}
<h1 style="font-size:large">
    BePresent
    </>
</h1>
<h2>We Edit Information here</h2>

<style>
    .sidebar-nav-fixed {
        width: 14%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="sidebar-nav-fixed affix">
                <div class="well">
                    <ul class="nav ">
                        <li class="nav-header"><a href="~/Admin/StudentHome">Students</a></li>
                        <li class="nav-header"><a href="~/Admin/Report">Report</a></li>
                        <li class="nav-header"><a href="~/Admin/Calendar">Calendar</a></li>
                        <li class="nav-header"><a href="~/Home">Logout</a></li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
        </div>

        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)


        <div class="row">
            <div class="col-sm-3 text-right">
                @Html.DisplayNameFor(m => m.Uri)
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.Uri)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 text-right">
                @Html.DisplayNameFor(m => m.Name)
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.Name)
               
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 text-right">
                @Html.DisplayNameFor(m => m.PowerId)
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.PowerId)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 text-right">
                @Html.DisplayNameFor(m => m.PersonalContact)
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.PersonalContact)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">
                @Html.DisplayNameFor(m => m.GuardianContact)
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.GuardianContact)
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 text-right">
                @Html.DisplayNameFor(m => m.Address)
            </div>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.Address)
            </div>
        </div>


        @*<br />
        <br />
        <div class="row">
            <div class="col-sm-3 text-right">
            </div>
            <div class="col-sm-4">
                @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn-success" })
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </div>*@

        <br />
        <br />
       
        <div class="row">
            <div class="col-sm-3 text-right">
            </div>
            <div class="col-md-4">
                @Html.ActionLink("Cancel", "StudentHome", new { id = Model.Id }, new { @class = "btn btn-success" })
                <input type="submit" value="Update" class="btn btn-primary">
           

            </div>
        </div>
      

}
    </div>
</div>



