@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Check In</h2>

<div class="">
    <p>
        <a href='@Url.Action("checkInConf", "Kiosk")'>
            <img src='@Url.Content("~/Content/img/displayPic.jpg")' width="140" height="100" />
        </a>
    <p>
        @Html.ActionLink("Diamond", "checkInConf", "Kiosk", null, new { @class = "btn btn-primary" })
    </p>
    <p>
        <a href='@Url.Action("checkInConf", "Kiosk")'>
            <img src='@Url.Content("~/Content/img/displayPic.jpg")' width="140" height="100" />
        </a>
    <p>
        @Html.ActionLink("Sean", "checkInConf", "Kiosk", null, new { @class = "btn btn-primary" })
    </p>

</div>
<div class="">
    <p>
        <a href='@Url.Action("checkOutConf", "Kiosk")'>
            <img src='@Url.Content("~/Content/img/checkOut.jpg")' width="800" height="200" />
        </a>
    </p>
</div>