
<link rel="stylesheet" type="text/css" href="~/Content/Site.css">

@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<body>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Welcome friends! Please check in...</h3>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 text-center">
                        <img class="img-rounded" src="~/Content/img/displayPic.jpg" alt="display pic" style="width:150px;height:150px" />
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="img-rounded">
                            <img class="img-rounded" src="~/Content/img/displayPic.jpg" alt="display pic" style="width:150px;height:150px" />
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="img-rounded" src="~/Content/img/displayPic.jpg" alt="display pic" style="width:150px;height:150px" />
                    </div>
                </div>
            </div>


            <div class="container">

                <div class="row">

                    <div class="col-md-4 text-center">
                        @Html.ActionLink("Diamond", "checkInConf", "Kiosk", null, new { @class = "btn btn-primary" })
                    </div>
                    <div class="col-md-4 text-center">
                        @Html.ActionLink("Diamond", "checkInConf", "Kiosk", null, new { @class = "btn btn-primary" })
                    </div>
                    <div class="col-md-4 text-center">
                        @Html.ActionLink("Diamond", "checkInConf", "Kiosk", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    



    <div class="container">
        <a href='@Url.Action("checkOutConf", "Kiosk")'>
            <img src='@Url.Content("~/Content/img/checkOut.jpg")' style="width:100%">
        </a>
    </div>

</body>
