@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Kiosk</li>
</ol>
<body>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Welcome friends! Please check in...</h3>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">






                    <div class="col-md-4 text-center">
                        <div class="img-rounded">
                            <img class="img-rounded" src="~/Content/img/displayPic.jpg" alt="display pic" style="width:150px;height:150px" />
                        </div>

                    </div>

                    <div class="col-md-4 text-center">
                        <div class="img-rounded">
                            <img class="img-rounded" src="~/Content/img/displayPic.jpg" alt="display pic" style="width:150px;height:150px" />
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="img-rounded" src="~/Content/img/displayPic.jpg" alt="display pic" style="width:150px;height:150px" />
                    </div>
                </div>

            </div>
        </div>


        <div class="container">

            <!-- Trigger the modal with a button -->
            <div class="col-md-4 text-center">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Diamond</button>
            </div>
            <div class="col-md-4 text-center">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Mike</button>
                </div>
                <div class="col-md-4 text-center">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Jea</button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">
                                    <p>You have checked in</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                @*<div class="col-md-4 text-center">
            @Html.ActionLink("Diamond", "checkInConf", "Kiosk", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-4 text-center">
            @Html.ActionLink("Mike", "checkInConf", "Kiosk", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-4 text-center">
            @Html.ActionLink("Jea", "checkInConf", "Kiosk", null, new { @class = "btn btn-primary" })
        </div>*@
            </div>
                    </div>
                </div>
    </div>


    <br />
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Checked-in friends...</h3>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 text-center">
                        <a href='@Url.Action("checkOutConf", "Kiosk")'>
                            <img src='@Url.Content("~/Content/img/displayPic.jpg")' alt="display" style="width:120px;height:120px">
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href='@Url.Action("checkOutConf", "Kiosk")'>
                            <img src='@Url.Content("~/Content/img/displayPic.jpg")' alt="display" style="width:120px;height:120px">
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href='@Url.Action("checkOutConf", "Kiosk")'>
                            <img src='@Url.Content("~/Content/img/displayPic.jpg")' alt="display" style="width:120px;height:120px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

</body>
